<link rel="stylesheet" href="/css/cartNavbar.css">

<div class="wingsman_cart-navbar">
    <div class="wingsman_cart-navbar_image">
        <img src="/images/icon _Pizza Slice_.png" alt="">
    </div>
    <div class="wingsman_cart-navbar_title">
        <p>Wingman</p>
    </div>
</div>