<link rel="stylesheet" href="/css/menuitemNavbar.css">

<div class="wingsman_menu-navbar">
    <div class="wingsman_menu-navbar_back">
        back
    </div>
    <div class="wingsman_menu-navbar_cart">
        cart
    </div>
</div>