<link rel="stylesheet" href="/css/navbar.css">

<div class="wingsman_navbar">
    <div class="wingsman_navbar-links">
        <div class="wingsman_navbar-links_logo">
            <p>Wingman</p>
        </div>
        <div class="wingsman_navbar-links_container">
            <p><a href="/">Home</a></p>
            <p><a href="/">Menu</a></p>
            <p><a href="/">Specials & Coupons</a></p>
            <p><a href="/">Contact Us</a></p>
        </div>
    </div>
</div>


