<link rel="stylesheet" href="/css/menuItem.css">

<%- include ('components/menuItemNavbar') %>

<div class="wingsman_menu-item">
    <div class="wingsman_menu-item_title">
        <h1>Appetizer</h1>
    </div>
    <div class="wingsman_menu-item_container">
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_image">

            </div>
            <div class="wingsman_menu-item_container-box_name">
                <h1>Spring Roll</h1>
                <p>Finest Spring roll</p>
            </div>
            <div class="wingsman_menu-item_container-box_cost">
                <p>cost</p>
            </div>
            <div class="wingsman_menu-item_container-box_addToCart">
                <div class="wingsman_menu-item_container-box_addToCart-select">
                    <select name="size" id="ItemSize">
                        <option value="regular">Regular</option>
                        <option value="large">Large</option>
                        <option value="Extra-Large">Extra Large</option>
                    </select>
                </div>
                <div class="wingsman_menu-item_container-box_addToCart-button">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_image">
                <img src="/images/Appetizer/FriedDumplings.png" alt="">
            </div>
            <div class="wingsman_menu-item_container-box_name">
                <h1>Fried Dumpling</h1>
                <p>Cooked to perfection</p>
            </div>
            <div class="wingsman_menu-item_container-box_cost">
                <p>cost</p>
            </div>
            <div class="wingsman_menu-item_container-box_addToCart">
                <div class="wingsman_menu-item_container-box_addToCart-select">
                    <select name="size" id="ItemSize">
                        <option value="regular">Regular</option>
                        <option value="large">Large</option>
                        <option value="Extra-Large">Extra Large</option>
                    </select>
                </div>
                <div class="wingsman_menu-item_container-box_addToCart-button">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_image">
                <img src="/images/Appetizer/FruitsSalad.png" alt="">
            </div>
            <div class="wingsman_menu-item_container-box_name">
                <h1>Fruits Salad</h1>
                <p>Fresh ingredients</p>
            </div>
            <div class="wingsman_menu-item_container-box_cost">
                <p>cost</p>
            </div>
            <div class="wingsman_menu-item_container-box_addToCart">
                <div class="wingsman_menu-item_container-box_addToCart-select">
                    <select name="size" id="ItemSize">
                        <option value="regular">Regular</option>
                        <option value="large">Large</option>
                        <option value="Extra-Large">Extra Large</option>
                    </select>
                </div>
                <div class="wingsman_menu-item_container-box_addToCart-button">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</div>