<%- include ('components/menuItemNavbar') %>

<div class="wingsman_menu-item">
    <div class="wingsman_menu-item_title">
        <h1>Appetizer</h1>
    </div>
    <div class="wingsman_menu-item_container">
        <div class="wingsman_menu-item_container-item">
            <h1>Spring Roll</h1>
            <p>Finest Spring roll</p>
        </div>
        <div class="wingsman_menu-item_container-item">
            <h1>Fried Dumpling</h1>
            <p>Cooked to perfection</p>
        </div>
        <div class="wingsman_menu-item_container-item">
            <h1>Fruits Salad</h1>
            <p>Fresh ingredients</p>
        </div>
    </div>
</div>