<link rel="stylesheet" href="/css/cart.css">

<%- include ('components/cartNavbar') %>

    <div class="wingsman_cart">
        <div class="wingsman_cart_back">

        </div>
        <div class="wingsman_cart-container">
            <div class="wingsman_cart-container_address">
                <!-- location icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                  </svg>
                <p>Delivery address</p>
            </div>
            <div class="wingsman_cart-container_payment">
                <!-- credit card icon  -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
                  </svg>
                <p>Payment</p>
            </div>
        </div>
        <div class="wingsman_cart_bill">
            <div class="wingsman_cart_bill-title">
                <h1>Wingman</h1>
                <p>delivered to this location</p>
            </div>
            <div class="wingsman_cart_bill-option">
                <p>Apply your coupon code</p>
            </div>
            <div class="wingsman_cart_bill-detail">
                <p>Bill Details</p>
            </div>
            <div class="wingsman_cary_bill-button">
                <button>Place Order</button>
            </div>
        </div>

        <div class="pizza">
            <img src="images/Cart/Pizza-slice 2.png" alt="">
        </div>
    </div>