<link rel="stylesheet" href="/css/cart.css">

<%- include ('components/cartNavbar') %>

<div class="wingsman_cart">
    <div class="wingsman_cart_back">

    </div>
    <div class="wingsman_cart-container">
        <div class="wingsman_cart-container_address">
            <p>Delivery address</p>
        </div>
        <div class="wingsman_cart-container_payment">
            <p>Payment</p>
        </div>
    </div>
    <div class="wingsman_cart_bill">
        <div class="wingsman_cart_bill-title">

        </div>
        <div class="wingsman_cart_bill-option">

        </div>
        <div class="wingsman_cart_bill-detail">

        </div>
        <div class="wingsman_cary_bill-button">

        </div>
    </div>
</div>