<link rel="stylesheet" href="/css/cart.css">

<%- include ('components/cartNavbar') %>

    <div class="wingsman_cart">
        <div class="wingsman_cart_back">

        </div>
        <div class="wingsman_cart-container">
            <div class="wingsman_cart-container_address">
                <p>Delivery address</p>
            </div>
            <div class="wingsman_cart-container_payment">
                <p>Payment</p>
            </div>
        </div>
        <div class="wingsman_cart_bill">
            <div class="wingsman_cart_bill-title">
                <h1>Wingman</h1>
                <p>delivered to this location</p>
            </div>
            <div class="wingsman_cart_bill-option">
                <p>Apply your coupon code</p>
            </div>
            <div class="wingsman_cart_bill-detail">
                <p>Bill Details</p>
            </div>
            <div class="wingsman_cary_bill-button">
                <button>Place Order</button>
            </div>
        </div>

        <div class="pizza">
            <img src="images/Cart/Pizza-slice 2.png" alt="">
        </div>
    </div>