<%- include ('components/menuItemNavbar') %>

<div class="wingsman_menu-item">
    <div class="wingsman_menu-item_title">
        <h1>Drink</h1>
    </div>
    <div class="wingsman_menu-item_container">
        <div class="wingsman_menu-item_container-item">
            <h1>Coffee</h1>
            <p>Freshly brewed coffee</p>
        </div>
        <div class="wingsman_menu-item_container-item">
            <h1>Tea</h1>
            <p>Freshly made tea</p>
        </div>
        <div class="wingsman_menu-item_container-item">
            <h1>Tea and Donut</h1>
            <p>Bundle together</p>
        </div>
    </div>
</div>