<link rel="stylesheet" href="/css/menuItem.css">

<%- include ('components/menuItemNavbar') %>

<div class="wingsman_menu-item">
    <div class="wingsman_menu-item_title">
        <h1>Drink</h1>
    </div>
    <div class="wingsman_menu-item_container">
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_image">
                <img src="/images/Drink/Coffee.png" alt="">
            </div>
            <div class="wingsman_menu-item_container-box_name">
                <h1>Coffee</h1>
                <p>Freshly brewed coffee</p>
            </div>
            <div class="wingsman_menu-item_container-box_cost">
                <p>cost</p>
            </div>
            <div class="wingsman_menu-item_container-box_addToCart">
                <div class="wingsman_menu-item_container-box_addToCart-select">
                    <select name="size" id="ItemSize">
                        <option value="regular">Regular</option>
                        <option value="large">Large</option>
                        <option value="Extra-Large">Extra Large</option>
                    </select>
                </div>
                <div class="wingsman_menu-item_container-box_addToCart-button">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_image">
                <img src="/images/Drink/Tea.png" alt="">
            </div>
            <div class="wingsman_menu-item_container-box_name">
                <h1>Tea</h1>
                <p>Freshly made tea</p>
            </div>
            <div class="wingsman_menu-item_container-box_cost">
                <p>cost</p>
            </div>
            <div class="wingsman_menu-item_container-box_addToCart">
                <div class="wingsman_menu-item_container-box_addToCart-select">
                    <select name="size" id="ItemSize">
                        <option value="regular">Regular</option>
                        <option value="large">Large</option>
                        <option value="Extra-Large">Extra Large</option>
                    </select>
                </div>
                <div class="wingsman_menu-item_container-box_addToCart-button">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_image">
                <img src="/images/Drink/Tea&Donut.png" alt="">
            </div>
            <div class="wingsman_menu-item_container-box_name">
                <h1>Tea and Donut</h1>
                <p>Bundle together</p>
            </div>
            <div class="wingsman_menu-item_container-box_cost">
                <p>cost</p>
            </div>
            <div class="wingsman_menu-item_container-box_addToCart">
                <div class="wingsman_menu-item_container-box_addToCart-select">
                    <select name="size" id="ItemSize">
                        <option value="regular">Regular</option>
                        <option value="large">Large</option>
                        <option value="Extra-Large">Extra Large</option>
                    </select>
                </div>
                <div class="wingsman_menu-item_container-box_addToCart-button">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</div>