<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <!-- <%- include ('components/navbar') %> -->

  <!-- Main Content -->
  <div class="wg_home section_padding" id="home">
    <div class="wg_home-content">
    </div>
    <div class="wg_home-image">
      <img src="/images/Wingmanlogo.png" alt="Wingman Logo" />
    </div>

  </div>
  <p>The Only Chicken Wing You will Ever Need In Your Entire Life</p>

  <button id="order-now" onclick="location.href='/login'">Order Now</button>

  <!-- <%- include ('components/footer') %> -->
</body>

</html>