<link rel="stylesheet" href="/css/menuItem.css">

<%- include ('components/menuItemNavbar') %>

<div class="wingsman_menu-item">
    <div class="wingsman_menu-item_title">
        <h1>Main Dish</h1>
    </div>
    <div class="wingsman_menu-item_container">
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_item">
                <h1>Pasta</h1>
                <p>Hand made Pasta</p>
            </div>
        </div>
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_item">
                <h1>Margherita Pizza</h1>
                <p>Made with San Marzano tomatoes, mozzarella cheese, and fresh basil.</p>
            </div>
        </div>
        <div class="wingsman_menu-item_container-box">
            <div class="wingsman_menu-item_container-box_item">
                <h1>Steak</h1>
                <p>Finest Steak, better than Salt Bae</p>
            </div>
        </div>
    </div>
</div>