<link rel="stylesheet" href="/css/progress.css">

<%- include ('components/cartNavbar') %>

<div class="wingsman_progress">
    <div class="wingsman_progress_title">
        <p>Your order is being prepared</p>
    </div>
    <div class="wingsman_progress_status">
        <p>Arriving in 10-20 min</p>
    </div>
    <div class="wingsman_progress_status-bar">
        <progress id="file" value="32" max="100"> 32% </progress>
    </div>
    <div class="wingsman_progress_map">
        <div class="wingsman_progress_map-api">

        </div>
        <div class="wingsman_progress_map-detail">
            <div class="wingsman_progress_map-detail_time">
                <h1>10:00 PM</h1>
                <p>Estimated Delivery Time</p>
            </div>
            <div class="wingsman_progress_map-detail_address">
                <h1>Delivery Address</h1>
                <p>Chiang Mai Thailand</p>
            </div>
            <div class="wingsman_progress_map-detail_order">
                <h1>Order Details</h1>
                <p>Pizza</p>
            </div>
        </div>
    </div>
    <div class="wingsman_progress_button">
        <button id="home" onclick="location.href='/'">Home</button>
    </div>
    
    <div class="left-pic">
        <img src="images/Progress/hands-taking-pizza 1.png" alt="">
    </div>

    <div class="topRight-pic">
        <img src="images/Progress/Capcicum 1.png" alt="">
    </div>

    <div class="topLeft-pic">
        <img src="images/Progress/Haldi 1.png" alt="">
    </div>
</div>