<!-- leaflet map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

<link rel="stylesheet" href="/css/progress.css">

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<!-- <%- include ('components/cartNavbar') %> -->
<div class="wg_cart-navbar">
    <div class="wg_cart-navbar_image">
        <img src="/images/icon _Pizza Slice_.png" alt="">
    </div>
    <div class="wg_cart-navbar_title">
        <p>Wingman</p>
    </div>
</div>

<div id="map"></div>

<div class="wg_progress">
    <p id="title">Your order is being prepared</p>
    <p id="detail">Arriving in 30 mins</p>
    <progress id="file" value="32" max="100"> 32% </progress>

</div>

</div>
<div class="wg_progress-detail">
    <div class="wg_progress_map-detail_time">
        <h1 id="delivery-time"></h1>
        <p>Estimated Delivery Time</p>
    </div>
    <div class="wg_progress_map-detail_address">
        <h1>Delivery Address <input type="text" id="address-input">
            <button id="locate" onclick="geocodeAddress()">Locate</button>
        </h1>
        <div class="input">

        </div>
        <p></p>
    </div>


</div>
<div class="wg_progress_button">
    <button id="home" onclick="location.href='/'">Home</button>
</div>


<script>
    // leaflet script
    var map = L.map('map').setView([18.800886, 98.950828], 14);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);
    L.Control.geocoder().addTo(map);

    // fixed restaurant coordinate 
    var circle = L.circle([18.810645, 98.947943], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 100
    }).addTo(map);
    circle.bindPopup("Wingsman Restaurant");

    // geocode the address entered by the user
    function geocodeAddress() {
        var address = document.getElementById('address-input').value;

        // use the geocoding plugin to convert the address to GPS coordinates
        L.Control.Geocoder.nominatim().geocode(address, function (results) {
            var latlng = results[0].center;

            // create a marker at the GPS coordinates and add it to the map
            var marker = L.marker(latlng).addTo(map);

            // set the view of the map to the GPS coordinates and zoom level
            map.setView(latlng, 13);

            var pElement = document.querySelector('.wg_progress_map-detail_address p');
            pElement.innerHTML = 'Latitude: ' + latlng.lat + ', Longitude: ' + latlng.lng;
        });
    }

    // Get the current time
    var now = new Date();

    // Add 30 minutes to the current time
    var deliveryTime = new Date(now.getTime() + 30 * 60000); // 60000 ms = 1 minute

    // Format the delivery time as HH:MM AM/PM
    var hours = deliveryTime.getHours();
    var minutes = deliveryTime.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12;
    minutes = minutes < 10 ? '0' + minutes : minutes;
    var formattedTime = hours + ':' + minutes + ' ' + ampm;

    // Set the formatted delivery time as the content of the h1 element
    document.getElementById('delivery-time').textContent = formattedTime;
</script>