.wingsman_menu-navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .wingsman_menu-navbar_back {
    order: 1; /* display this first */
  }
  
  .wingsman_menu-navbar_cart {
    order: 2; /* display this last */
  }