.wingsman_progress{
    background-color: #f9efe3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wingsman_progress_title p{
    color: black;
    text-align: left;
    font-weight: 700;
    font-size: 30;
}

.wingsman_progress_status p{
    color: #7E8389;
    text-align: left;
    font-weight: 400;
    font-size: 25px;
}