<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <%- include ('../components/header') %>

    <!-- Main Content -->
    <div class="header-left">
        <h1>Wingman</h1>
        <p>The only Chicken Wing You will ever need in your entire life</p>
    </div>

    <div class="header-right">
        <img src="public\Assets\images\Wingmanlogo.png" alt="Wingman Logo">
    </div>

    <%- include ('../components/footer') %>

</body>

</html>
